{% extends "admin/change_form.html" %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/object-actions.css" %}" />
    {{ block.super }}
{% endblock %}


{% block object-tools-items %}
  {% for tool in objectactions %}
    {% if tool.custom_attrs.show_button|default_if_none:True %}
      <li class="objectaction-item" data-tool-name="{{ tool.name }}">
        {% if tool.custom_attrs.use_form|default_if_none:True %}
          <form action="{% url tools_view_name pk=object_id tool=tool.name %}" method="post" style="padding: 0; margin: 0;">
            {% csrf_token %}
            <button class="btn {{ tool.standard_attrs.class }}"
                title="{{ tool.standard_attrs.title }}"
                type="submit"
                {% for k, v in tool.custom_attrs.items %}
                    {{ k }}="{{ v }}"
                {% endfor %}>{{ tool.label|capfirst }}</button>
          </form>
        {% else %}
          <a href='{% url tools_view_name pk=object_id tool=tool.name %}' title="{{ tool.standard_attrs.title }}"
              {% for k, v in tool.custom_attrs.items %}
                {{ k }}="{{ v }}"
              {% endfor %}
              class="{{ tool.standard_attrs.class }}">
            {{ tool.label|capfirst }}
          </a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
  {{ block.super }}
{% endblock %}
